/* 2body {
	background: #f8f8fa;
	font-family: "acumin pro";
	height: 90vh;
} */




.container {
	background: #ffe0c1;
	border-radius: 5px;
	margin: 20px auto;
	padding: 10px 20px;
	width: 60%;
	padding-bottom: 70px;
	height: 270px;
}
#info{
	width: 45%;
}

.rikkle{
	width: 400px;
	background-color:#ffbf82;
}

.rikkle1{
	width: 400px;
	background-color:#ffbf82;
	margin-top: 20px;
}

#ship{
	margin-top: -310px;
	width: 100%;
	margin-left: 430px;
	margin-bottom: 200px;

	}


.rikkle2, #shipping{
	width: 45%;
	background-color:#ffbf82;
	/* background-color: blue; */
	/* height: 50px; */
	/* margin-top: -15px; */

	
}

.rikkle3{
	width: 45%;
	background-color:#ffbf82;
	margin-top: 20px;
}

.check{
	margin-left: 0px;
	padding-top: 40px;
}

#pilo3{
	margin-left: 240px;
	margin-top: 10px;
	background-color:#ffbf82;
	border-radius: 2px;
	border-color: #e5e6eb;
}
#pilo2,#pilo1{
	margin-left: 10px;
	margin-top: 10px;
	background-color:#ffbf82;
	border-color: blue;
}

td, fieldset{
	font-size: 13px;
	border-color: #fff;
}
#table, #table1, #table2, #table3{
	height: 100px;
}

/* #placeholder{
	text-align: left;
} */










